@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Montserrat", sans-serif;
}

main {
 background-image: url("/img/bg22.jpeg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 100vh;
 position: relative;
 color: white;

 .main-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
 }
}

main .content {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 60%;
 text-align: left;

 h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
 }

 .semi-bold {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #ddd;
 }

 .items {
  font-size: 30px;
  font-weight: 400;
  color: #ddd;
 }

 .register {
  font-weight: 400;
  font-size: 30px;
  color: #ddd;

  line-height: 2.4rem;
 }

 a {
  font-size: 30px;
  padding: 20px;
  text-decoration: none;
  color: white;
  background-color: #000;
  border: 1px solid white;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
   background-color: #101010;
  }
 }
}

.flex {
 display: flex;
}

.page-loading {
 height: 100vh;
 background-color: #000;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 color: #f0f8ff;

 p {
  margin-top: 10px;
  font-size: 20px;
 }
}

.container {
 flex-direction: column;
 height: auto;
 background-image: url("/img/bg22.jpeg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 width: 100%;
 display: none;
}

.overlay {
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.3);
 z-index: 2;
}

.register-container {
 background-color: rgba(0, 0, 0, 0.8);
 padding: 20px;
 border-radius: 4px;
 font-size: 18px;
 width: 50%;
 margin: 120px auto;
 h1 {
  font-size: 25px;
  color: white;
  font-weight: 800;
  text-align: center;
 }
}

.input-container {
 display: flex;
 flex-direction: column;
 margin: 10px;

 label {
  font-size: 22px;
  margin: 5px 0;
  color: #ddd;
  font-weight: 600;
 }

 span {
  font-size: 20px;
  color: #ddd;
 }

 input,
 textarea {
  padding: 15px;
  outline: none;
  border: 1px solid #101010;
  border-radius: 5px;
  font-size: 16px;
  color: #101010;
 }

 input:focus,
 textarea:focus {
  border: 1px solid #800080;
 }
}

.radio-wrapper {
 margin: 10px;

 .header {
  font-weight: 600;
  color: #ddd;
  font-size: 22px;
 }

 label {
  font-size: 20px;
  margin: 5px 0;
  color: #ddd;
  font-weight: 300;
  margin-right: 4px;
 }
}

button {
 outline: none;
 border: 1px solid #f0f8ff;
 background-color: #101010;
 color: #f0f8ff;
 padding: 15px;
 font-size: 20px;
 border-radius: 10px;
 // box-shadow: 2px 1px 4px 0px black;
 margin-top: 20px;
 cursor: pointer;
 margin-left: 10px;
 transition: color, border, background-color 0.2s ease;
}

button:hover {
 color: #000;
 border: 1px solid #000;
 background-color: #f0f8ff;
}

#occupation-container {
 display: none;
}

#loader {
 margin: 20px;
 display: none;
 i {
  color: white;
 }
}

@media (max-width: 760px) {
 main {
  .content {
   width: 90%;

   h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
   }

   p {
    font-size: 25px;
    line-height: 2rem;
    color: #ddd;
   }
   .semi-bold {
    font-size: 25px;
    margin-bottom: 20px;
   }
   .items {
    font-size: 25px;
   }
   .register {
    font-size: 25px;
   }

   a {
    font-size: 25px;
    padding: 15px;
   }
  }
 }

 .container {
  background-image: url("/img/bg33.jpeg");
 }

 .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
 }

 .register-container {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  width: 95%;
  margin: 90px auto;
  h1 {
   font-size: 22px;
   font-weight: 800;
  }
 }

 .input-container {
  display: flex;
  flex-direction: column;
  margin: 10px;

  label {
   font-size: 18px;
   margin: 5px 0;
  }

  span {
   font-size: 18px;
  }

  input,
  textarea {
   padding: 12px 8px;
   border-radius: 5px;
   font-size: 18px;
  }
 }

 button {
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
 }

 .radio-wrapper {
  margin: 10px;

  .header {
   color: #ddd;
   font-size: 18px;
  }

  label {
   font-size: 19px;
   margin: 5px 0;
   color: #ddd;
   font-weight: 300;
   margin-right: 4px;
  }
 }
}

@media screen and (max-width: 500px) {
 main {
  .content {
   width: 90%;

   h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
   }

   p {
    font-size: 20px;
    line-height: 2rem;
    color: #ddd;
   }
   .semi-bold {
    font-size: 18px;
    margin-bottom: 10px;
   }
   .items {
    font-size: 18px;
    color: #ddd;
   }
   .register {
    font-size: 18px;
    color: #ddd;
   }

   a {
    font-size: 20px;
    padding: 15px;
   }
  }
 }
}
